<form id="buscarest" action="/login?acc=mostrarest&bool=1" method="post">
	<div class="fb-text form-group field-id">
        <label for="idBuscar" class="fb-text-label">Identificacion de acceso<span class="fb-required">*</span></label>
        <input type="number" class="form-control" name="idBuscar" id="idBuscar" required="required" aria-required="true">
    </div>
    <div class="fb-button form-group field-enviar">
        <button type="submit" class="btn-primary btn" name="buscar" style="primary" id="buscar">Buscar</button>
    </div>
</form>
